<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="applicationkeydemo" value="b2585956-025f-45a7-8ea4-b386144419b2" />
    <add key="applicationkey" value ="405cbeb6-b1ec-4ea2-93c6-6483bfa2bf5f" />
    <add key="clientkeydemo" value="0e7dc82e-32f1-4a02-9f49-a5dce055f5b8" />
    <add key="clientkey" value="9d1d4f31-f365-4c37-bb16-d024fa535b1a" />
    <add key="debug" value="false" />
    <add key="outfilename" value="c:\csvimport\export.csv" />
    <add key="outfiledelimiter" value=";" />
    <add key="demo" value="false" />
    <add key="maxrecords" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>