<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="applicationkey" value="b2585956-025f-45a7-8ea4-b386144419b2"/>
    <add key ="clientkey" value="0e7dc82e-32f1-4a02-9f49-a5dce055f5b8"/>
    <add key ="debug" value="false"/>
    <add key ="outfilename" value="c:\test\PO2Export.csv"/>
    <add key ="outfiledelimiter" value=";"/>
    <add key ="demo" value="false"/>
    <add key ="maxrecords" value="5"/>
  </appSettings>
</configuration>